<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">a secret of a social life from a corgi.. </h1>
    <!-- <p class="secret-text">hey, human.</p> -->
   
      <img src="images/corgi-meme.jpeg" alt="I-am-a-corgi" class="img-corgi">
 
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">I am a grown man, let me out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">nice butt, leave my number to you</a>
  </div>
</div>

<%- include('partials/footer') %>
