
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(246, 133, 58);
  background-color: rgba(250, 196, 21, 0.35);
}

.img-corgi {
  width: 50%;
  height: auto;
}